body {
    background-image: url(../../dark-zvezdnoe_nebo-zvezdi-noch-sozvezdiya-temnii-84874.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: lightgray;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.toHome > a > img {
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}

.toHome > a:hover > img {
    background-color: white;
}

.mContact {
    color: black;
    align-self: center;
    margin-right: 100px;
}

.mContact > a {
    text-decoration: none;
    color: black;
}

.mainPage {
    background-color: #f5e8d8;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.Galileo {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

h1 {
    width: 500px;
}

#foreword {
    width: 400px;
}

.article {
    margin: 30px;
}

.article > p {
    font-size: 14pt;
}

.illustr {
    margin: 20px;
    position: relative;
}

.illustr > img {
    height: 500px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.shadow {
    background-color: black;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.5;
    z-index: 1;
}

.other {
    margin-left: 50px;
}

.other > ul {
    padding-left: 17px;
}

.other > ul > li {
    margin: 10px;
}

.other > ul > li > a {
    padding: 10px;
    font-size: 14pt;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}

.other > ul > li > a:hover {
    color: white;
    background-color: #333333;
    opacity: 0.5;
}

.preFooter {
    height: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(180deg, #f5e8d8, #333);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../1627410022_5-kartinkin-com-p-lunnaya-poverkhnost-tekstura-krasivo-6.jpg);
    height: 200px;
    margin: 0;
    padding: 0;
}

.contact {
    color: white;
}

.contact > a {
    text-decoration: none;
    color: white;
}