.illustr > img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.shadowF {
    background-color: black;
    height: 500px;
    width: 750px;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.5;
    z-index: 1;
    border-top-right-radius: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}

.article {
    display: flex;
    justify-content: space-between;
}

#facts {
    width: 1000px;
}

.other {
    align-self: end;
}